/* INDEX.CSS -- The style definitions for the Speedgolf App. These are imported
  in index.css for the entire app. */

:root {
  --dark-gray: #495057;
  --mid-gray: #ADB5BD;
  --light-gray: #CED4DA;
  --lighter-gray: #F8F9FA;
  --highlight: #FFFFFF;
  --shadow: #000000;
  --navbar: #DEE2E6;
  --sidemenu: #E9ECEF;
}

/* Styling of the fixed top bar in the app */
.navbar {
  overflow: hidden; /* Don't allow scrolling */
  display: block; /* Occupies its own horizontal space */
  background-color: var(--navbar);
  position: fixed; /* Doesn't move */
  top: 0;
  width: 100%; /* 100% of width of screen */
  align-content: center;
  height: 80px;
  outline-color: var(--mid-gray);
  outline-width: 4px;
  outline-style: solid;
  z-index: 200;
}

.navbar-title {
color: black;
font-size: 24px;
padding-top: 20px;
padding-left: 60px;
}

/* navbarItems defines styling of items within navbar. They should be centered top-to-bottom
 with a small internal margin */
.navbar-items {
display: inline-flex; 
align-items: center; 
padding-top: 5px;
}

.navbar .user-info {
  background-color: var(--highlight);
  height: 56px;
  width: 200px;
  border-radius: 10px;
  font-size: 14px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  padding-top:18px;
  text-align: center;
}

.navbar .icon {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding-left: 0px;
  margin-right: 180px;
}

/* sidemenu -- Styling of the side navigation menu */
.sidemenu {
  height: 100%; /* Menu is full height of window */
  width: 0px; /* Menu hidden -- will be opened on click */
  position: fixed; /* Menu stays in place regardless of other content */
  z-index: 150; /* Force the menu to be at front */
  top: 84px; /* Position menu 48 px from top of screen; accomodates top navbar */
  left: 0; /* Position the menu on the left hand side */
  background-color: var(--sidemenu); /* Background color is dark blue */
  overflow-x: hidden; /* Don't allow horizontal scroll */
  padding-top: 12px; /* Place menu content 12 px from top */
}

/* applies only to an anchor tag that's a child of a sidenav element. */
.sidemenu a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      display: block;
      transition: 0.3s;
      background-color: var(--light-gray);
      font-size: 14px;
  }
  
.sidemenu-items {
  margin-top: 64px;
}

.sidemenu div {
      padding: 0px 0px 8px 0px;
      text-decoration: none;
      font-size: 16px;
      display: block;
      transition: 0.3s;
      /* border-bottom: 2px solid white; */
  }

/* Required ordering of link style definitions: visited, hover, active. If out of this order, they won't work!! */

.sidemenu a:visited {
background-color:  var(--dark-gray) !important;
color: white !important;
}

.sidemenu a:active {
background-color:  var(--dark-gray) !important;
color: white !important;
}

.sidemenu-recipients {
  margin-top: 80px;
  margin-left: 0px;
}

/* Cascading style within a style: This definition applies only to sidenavtitle class defined in an 
 element that's a child of sidenav element. */   
.sidemenu .sidemenu-title {
      position: absolute;
      width:100%;
      height: 40px;
      top: 8px;
      left: 0px;
      padding: 8px 0px 0px 6px;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px !important;
      border-bottom: 2px solid var(--lighter-gray);
      background-color: var(--lighter-gray);
 }

 .sidemenu .sidemenu-userID {
   font-size: 14px;
 }

.sidemenu-item:hover {
  cursor: default;
  text-decoration: none;
  color: var(--light-gray) !important;
  background-color: var(--dark-gray);
}

/* side menu styling when menu item selected */
.sidemenu-item-selected {
       pointer-events: none;
       cursor: default;
       text-decoration: none;
       color: var(--dark-gray) !important;
       background-color: #F0F0F0;
}

.new-msg-btn {
  margin-top:300px !important;
  background-color: var(--lighter-gray) !important;
}

/* set width to 250px when menu is open */
.sidemenu-open {
  width: 180px;
}

/* set width to 0px when menu is closed */
.sidemenu-closed {
  width: 0px;
}

/* The SpeedScore dark blue color theme  */       
.btn-color-theme {
      background-color: var(--dark-gray);
      color: white;
  }
  
/* The color theme when a bottom bar menu item is selected */
.btn-alt-color-theme {
      background-color: #F0F0F0;
      color: var(--dark-gray);
  }

/* change items to gray when disabled class is applied  */
.disabled {
color: gray;
}
  

.btn-color-theme-outline {
      border: 2px;
      border-color: var(--dark-gray);
      color: var(--dark-gray);
}

/* Styling for the divs in the app. Ensures that the content at top isn't obscured by top bar */
.padded-page {
padding: 112px 8px 24px 190px;
}

.message-modal {
  background-color: var(--mid-gray);
  margin: 0px 0px 0px 200px;
  width: 50%;
  height: 400px;
  border-radius: 12px;
  z-index: 190;
  position: absolute;
  top: 350px;
}

/* Styling for the message threads */
.message-thread {
  background-color: var(--mid-gray);
  width: 95%;
  height: 950px;
  margin-left: 35px;
  border-radius: 12px;
}

.background-blur {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
}

.hide {
display:none;
}


.clickable-div 
{
cursor: pointer;
}

/* Style the floating action button, which is fixed in the lower right of the app */
.floatbtn {
position:fixed;
cursor: pointer;
width:60px;
height:60px;
bottom:60px;
right:40px;
background-color:var(--dark-gray);
color:white;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}

.floatbtn-icon{
margin-top:22px;
}

.floatbtn a:visited {
color: white !important;
}

.floatbtn a:active {
color: white !important;
}


/* Consider changing */
body {
margin: 0;
font-family: Roboto;
overflow: hidden;
}

/* This class disables a button */
.disabled-button {
pointer-events: none;
opacity: 0.4;
}

.floatbtn a:visited {
color: white !important;
}

.floatbtn a:active {
color: white !important;
}

/* Login page styling */
.login-text {
text-align: center;
width: 400px;
height: 32px;
}

.login-btn {
width: 16%;
font-size: 18px;
border-radius: 10px;
}

.login-div {
  margin-top: 10%;
}

.login-div h1 {
  font-size: 48px;
  padding-bottom: 18px;
}

.login-div .field-input {
  font-size: 18px;
}

.login-footer {
  position: absolute;
  bottom: 10px;
  width: 50%;
  font-size: 14px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: var(--mid-gray);
  border-color: var(--mid-gray);
}

/* Form styling */

.form-center {
text-align: center;
}

/* Make an item visible */
.visible {
  display: block;
}

/* Make an item invisible */
.invisible {
 display: none;
}

/* Styles selected side menu items and bottom bar buttons */
.item-selected {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--dark-gray) !important;
  background-color: #F0F0F0;
}

/* Forces element to ignore pointer events like clicks */
.ignore-click {
  pointer-events: none;
}

.form-control {
  background-color: rgba(206, 212, 218, 0.0);
  border-color: var(--dark-gray);
  border-width: 4px;
  border-radius: 10;
}

.form-control:focus {
  background-color: rgba(206, 212, 218, 0.0);
  border-color: var(--dark-gray);
  border-width: 4px;
  border-radius: 10;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px var(--mid-gray);
}

form input.login-text[type="text"] {
  font-size: 18px;
}